@model List<CodeFlowRaw.Models.Diary>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>


<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Date</th>
            <th scope="col">Text</th>
            <th scope="col">View</th>
        </tr>
    </thead>
    <tbody>
    
    @foreach (var entry in Model)
    {
        <tr>
            <th scope="row">@entry.Id</th>
            <td>@entry.DiaryDate.ToShortDateString()</td>
            <td>@(entry.Text.Length > 10 ? entry.Text.Substring(0, 10)+"..." : entry.Text)</td>
            <td>

                <button type="button" class="btn btn-link">
                    Print
                </button>
            </td>
        </tr>
    }
    </tbody>
</table>
